.blend_recommendations{
    position: fixed;
    bottom: 0;
    right: 0;
}

.blend_recommendations img {
    cursor: pointer;
    height: 100px;
    width: 100px;
}

.popup {
    width:  20vw;
    height: 80vh;
    border: 1px solid #2D2D2D;
    display: none;
    background: whitesmoke;
    text-align: center;
    margin-right: 2rem;
    flex-direction: column;
    align-items: center;
    position: absolute;
    bottom: 0;
    right: 0;
    margin-bottom: 11rem;
}

#search-bar{
    width: 20rem;
    border: 0.5px solid grey;
    background:#ededf3;
    border-radius: 15px;
    text-decoration: none;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    padding-left: 0.5rem;
    margin-bottom: 1rem;
}
 .search-with-button{
    display:flex;
    padding-right:1rem;
    padding-left:1rem;
    margin-top: 0.5rem;
}

#searchButton{
    border:none;
    color: white;
    background: #E84C26;
    padding: 0.2rem 0.6rem;
    transition: 0.9s;
    border-radius: 5px;
    margin-bottom: 1rem;
    margin-left: 0.3rem;           
}

#search-bar:hover{
    background: #dfdfe6;
}

.Search-Bar{
    margin-left: 1rem;
    margin-top: 1rem;
}

#searchButton:hover{
    border:none;
    color: #E84C26;
    background: white;
    padding: 0.2rem 0.6rem;
    border-radius: 5px;
}